@font-face {
    font-family: "Fira Sans";
    font-style: normal;
    font-weight: 300;
    src: local("Fira Sans Light"), local("FiraSans-Light"), url('FiraSans-Light.woff2') format('woff2');
}

@font-face {
    font-family: "Clear Sans";
    font-style: normal;
    font-weight: 400;
    src: local("Clear Sans"), local("ClearSans"), url("ClearSans-Regular.woff") format("woff");
}

* {
    font-family: "Fira Sans", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

html, body {
    font-family: "Fira Sans", Helvetica, Arial, sans-serif;
    margin: 0; padding: 0;
    background-color: #f2f2f2;
    font-size: 16px;
    width: 100%;
    overflow: hidden;
}
@media (min-width:520px) {
    html, body {
        font-size: 18px;
    }
}

body > section {
    width: 420px;
    margin: 35px auto;
    background: #ffffff;
}
@media (max-width:520px) {
    body > section {
        width: 94%;
        min-width: 300px;
        max-width: 360px;
        border: 1px solid #c3cfd8;
        border-radius: 2px;
        padding: 35px 20px 20px;
    }
}
@media (min-width:521px) {
    body > section {
        width: 420px;
        border: 1px solid #ffffff;
        border-radius: 4px;
        box-shadow: 0 1px 5px #8a9ba8;
        padding: 50px 40px 40px;
    }
}

header {
    text-align: center;
    color: #424f59;
}
header h1 {
    font-size: 1.3rem;
    font-weight: 200;
    margin: 0;
}
header h2 {
    font-size: 1rem;
    margin: 10px 0 24px 0;
    font-weight: 200;
}

p {
    margin: 12px 0;
    padding: 0;
}

input {
    width: 100%;
    box-sizing: border-box;
    box-shadow: inset 0 1px 1px #f2f2f2;
}

input, label[for="show-password"] {
    border: 1px solid #8a9ba8;
    outline: 0;
    height: 45px;
    border-radius: 4px;
    font-size: 18px;
    padding: 0 0 0 20px;
    vertical-align: top;
    box-sizing: border-box;
}

input:focus, input:focus ~ label[for="show-password"] {
    border-color: #0095dd;
}

label[for="show-password"] {
    font-family: "Clear Sans", Helvetica, Arial, sans-serif;
    font-weight: normal;
    margin: 0;
    padding: 0 7px;
    display: inline-block;
    height: 45px;
    line-height: 43px;
    font-size: 14px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 80px;
    box-sizing: border-box;
    text-align: center;
    color: #8a9ba8;
}

label[for="show-password"]:hover {
    background-color: #f2f2f2;
    color: #424f59;
}

#show-password:disabled ~ label[for="show-password"] {
    background-color: #ccc;
    color: #f2f2f2;
}

input[type="text"] ~ label[for="show-password"] {
    background-color: #8a9ba8;
    color: #ffffff;
}

#password {
    border-right: 0 none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: 0;
    width: calc(100% - 80px);
}

#show-password {
    visibility: hidden;
    position: absolute;
}

p.submit-row {
    margin: 20px 0;
}

button[type="submit"] {
    border: 0 none;
    border-radius: 4px;
    color: #fff;
    background-color: #0095dd;
    font-size: 1.3rem;
    font-weight: 200;
    height: 63px;
    padding: 15px 0;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}

button[type="submit"]:hover {
    background-color: #0088cc;
}

button[type="submit"]:focus {
    border: 0 none;
}

noscript p {
    font-size: 0.9rem;
    text-align: center;
    color: #ffffff;
    background-color: #d63920;
    border-radius: 2px;
    margin: 10px 0;
    padding: 10px 5px;
}

footer {
    margin: 30px 0 0 0;
    color: #8a9ba8;
    text-align: center;
}

footer p, footer p * {
    font-family: "Clear Sans", Helvetica, Arial, sans-serif;
    font-size: 0.8rem;
}

footer p { font-weight: normal; }

#server-host {
    white-space: nowrap;
}
